**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

UyTube_aplicacion/.jacocoverage/*
UyTube_aplicacion/jacoco.exec*
/edt_maven/target/
edt_maven/configuracion.properties
/UyTube_estacion_de_trabajo/target/