<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultaListaReproducion</servlet-name>
        <servlet-class>com.uytube.ConsultaListaReproducion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVideo</servlet-name>
        <servlet-class>com.uytube.ConsultaVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>com.uytube.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.uytube.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Presentacion</servlet-name>
        <servlet-class>com.uytube.Presentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>com.uytube.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaVideo</servlet-name>
        <servlet-class>com.uytube.AltaVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>com.uytube.AltaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuario</servlet-name>
        <servlet-class>com.uytube.ConsultaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.uytube.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>com.uytube.ValidarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaListaReproducion</servlet-name>
        <url-pattern>/consulta/lista-reproducion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVideo</servlet-name>
        <url-pattern>/consulta/video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/usuario/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Presentacion</servlet-name>
        <url-pattern>/presentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciar-sesion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/alta-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuario</servlet-name>
        <url-pattern>/consulta-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/validar-usuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
