<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultaListaReproducion</servlet-name>
        <servlet-class>com.uytube.ConsultaListaReproducion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVideo</servlet-name>
        <servlet-class>com.uytube.ConsultaVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>com.uytube.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Presentacion</servlet-name>
        <servlet-class>com.uytube.Presentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuario</servlet-name>
        <servlet-class>com.uytube.ConsultaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.uytube.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaVideo</servlet-name>
        <servlet-class>com.uytube.AltaVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeticionAjax</servlet-name>
        <servlet-class>com.uytube.PeticionAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>com.uytube.AltaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>com.uytube.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuario</servlet-name>
        <servlet-class>com.uytube.ListarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeguirUsuario</servlet-name>
        <servlet-class>com.uytube.SeguirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaListaReproduccion</servlet-name>
        <servlet-class>com.uytube.AltaListaReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarListaReproduccion</servlet-name>
        <servlet-class>com.uytube.ModificarListaReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarVideoAListaReproduccion</servlet-name>
        <servlet-class>com.uytube.AgregarVideoAListaReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuitarVideoDeListaReproduccion</servlet-name>
        <servlet-class>com.uytube.QuitarVideoDeListaReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVideo</servlet-name>
        <servlet-class>com.uytube.ModificarVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarValoracion</servlet-name>
        <servlet-class>com.uytube.AgregarValoracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarComentario</servlet-name>
        <servlet-class>com.uytube.AgregarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoria</servlet-name>
        <servlet-class>com.uytube.ListarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>com.uytube.Buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaListaReproducion</servlet-name>
        <url-pattern>/lista-consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Presentacion</servlet-name>
        <url-pattern>/presentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/inicio-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaVideo</servlet-name>
        <url-pattern>/video-agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/usuario-agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVideo</servlet-name>
        <url-pattern>/video-consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuario</servlet-name>
        <url-pattern>/usuario-consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeticionAjax</servlet-name>
        <url-pattern>/consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/usuario-modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuario</servlet-name>
        <url-pattern>/usuario-listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeguirUsuario</servlet-name>
        <url-pattern>/usuario-seguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaListaReproduccion</servlet-name>
        <url-pattern>/lista-agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarListaReproduccion</servlet-name>
        <url-pattern>/lista-modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarVideoAListaReproduccion</servlet-name>
        <url-pattern>/lista-agregar-video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuitarVideoDeListaReproduccion</servlet-name>
        <url-pattern>/lista-quitar-video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVideo</servlet-name>
        <url-pattern>/video-modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarValoracion</servlet-name>
        <url-pattern>/video-agregar-valoracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarComentario</servlet-name>
        <url-pattern>/video-agregar-comentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoria</servlet-name>
        <url-pattern>/categoria-listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            2
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
