@import _colores
     
.widgets
    background-color: $colorGrisClaro
    margin-top: 0px
    display: flex
    border-bottom: 2px solid $colorCelesteClaro    
    //Estilos generales para todas las imagenes de los widgets
    .img-widget
        height: 63px
    #utec
        //width: 118.567px
        //margin: 0px 0px 16px 10px
    #udelar
        //width: 247px
        //margin-left: 16px
    #twiter, #facebook, #instagram
        //width: 83px
//Estilos de los 2 contenedores de widgets
.widget-1, .widget-2
    display: flex