.widgets {
  background-color: #f6f6f6;
  margin-top: 0px;
  display: flex;
  border-bottom: 2px solid #5aa1e3; }
  .widgets .img-widget {
    height: 63px; }

.widget-1, .widget-2 {
  display: flex; }

@media (max-width: 340px) {
  .widgets {
    height: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; }
    .widgets .widget-1 {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .widgets .widget-2 {
      width: 100%;
      justify-content: space-around; } }
@media (min-width: 341px) and (max-width: 387px) {
  .widgets {
    height: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; }
    .widgets .widget-1 {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .widgets .widget-2 {
      width: 100%;
      justify-content: space-around; } }
@media (min-width: 388px) and (max-width: 500px) {
  .widgets {
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; }
    .widgets .widget-1 {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .widgets .widget-2 {
      width: 100%;
      justify-content: space-around; } }
@media (min-width: 501px) and (max-width: 575.98px) {
  .widgets {
    height: 180px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .widgets .widget-1 {
      width: 80%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .widgets .widget-2 {
      width: 70%;
      display: flex;
      justify-content: space-around; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .widgets {
    height: 160px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .widgets .widget-1 {
      width: 60%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .widgets .widget-2 {
      width: 60%;
      display: flex;
      justify-content: space-between; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .widgets {
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .widgets .widget-1 {
      width: 50%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .widgets .widget-2 {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center; } }
@media (min-width: 992px) {
  .widgets {
    height: 123px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center; }
    .widgets .img-widget {
      height: 83px; }
    .widgets .widget-1 {
      width: 460px;
      display: flex;
      justify-content: space-around; }
    .widgets .widget-2 {
      width: 350px; } }

/*# sourceMappingURL=widget.css.map */
